---
http_interactions:
- request:
    method: get
    uri: https://api.mangadex.org/manga/d86cf65b-5f6c-437d-a0af-19a31f94ec55
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"result":"ok","response":"entity","data":{"id":"d86cf65b-5f6c-437d-a0af-19a31f94ec55","type":"manga","attributes":{"title":{"ja-ro":"Ijiranaide,
        Nagatoro-san"},"altTitles":[{"id":"Jangan goda aku, Nagatoro"},{"es-la":"No
        te burles de mi, Nagatoro"},{"fr":"Arr\u00eate de me chauffer, Nagatoro"},{"ru":"\u041d\u0435
        \u0438\u0437\u0434\u0435\u0432\u0430\u0439\u0441\u044f, \u041d\u0430\u0433\u0430\u0442\u043e\u0440\u043e"},{"ja":"\u30a4\u30b8\u3089\u306a\u3044\u3067\u3001\u9577\u701e\u3055\u3093"},{"ko":"\uad34\ub86d\ud788\uc9c0
        \ub9d0\uc544\uc694, \ub098\uac00\ud1a0\ub85c \uc591"},{"de":"Neck mich nicht,
        Nagatoro-san"},{"zh-hk":"\u4e0d\u8981\u6b3a\u8ca0\u6211\uff0c\u9577\u701e\u540c\u5b78"},{"th":"\u0e22\u0e31\u0e22\u0e15\u0e31\u0e27\u0e41\u0e2a\u0e1a\u0e41\u0e2d\u0e1a\u0e19\u0e48\u0e32\u0e23\u0e31\u0e01
        \u0e19\u0e32\u0e07\u0e32\u0e42\u0e17\u0e42\u0e23\u0e30"},{"ar":"\u0644\u0627
        \u062a\u0644\u0639\u0628\u064a \u0645\u0639\u064a \u064a\u0627 \u0622\u0646\u0633\u0629
        \u0646\u0627\u063a\u0627\u062a\u0648\u0631\u0648"},{"it":"Non tormentarmi,
        Nagatoro!"},{"fa":"\u0627\u0630\u06cc\u062a\u0645 \u0646\u06a9\u0646\u060c
        \u0646\u0627\u06af\u0627\u062a\u0648\u0631\u0648 \u0633\u0627\u0646"},{"he":"\u05d0\u05dc
        \u05ea\u05e9\u05ea\u05e2\u05e9\u05e2\u05d9 \u05d0\u05d9\u05ea\u05d9, \u05e0\u05d0\u05d2\u05d0\u05d8\u05d5\u05e8\u05d5"},{"es-la":"No
        me Molestes, Nagatoro-san"},{"ja-ro":"Ijiranaide, Nagatoro-san"},{"en":"Don\u0027t
        Toy With Me, Miss Nagatoro"},{"uk":"\u041d\u0435 \u0434\u0440\u0430\u0436\u043d\u0438
        \u043c\u0435\u043d\u0435, \u041d\u0430\u0433\u0430\u0442\u043e\u0440\u043e-\u0441\u0430\u043d"}],"description":{"en":"Our
        nameless\u2014and spineless\u2014hero (only known as \u0022Senpai\u0022) is
        a second-year high school student and loner who spends his afternoons at the
        Arts Club room. He attracts the attention of one of his schoolmates, a sadistic
        freshman girl named Nagatoro. However, in between the bullying and teasing,
        something else begins to blossom.\n\nA lovey-dovey(\u2026?) story between
        a shy nerd and an S-Dere (Sadistic Tsundere) begins.","ru"[...]
